name: CI

on:
  push:
    branches-ignore:
      - "dependabot/**"
  pull_request:

permissions: kumarnithishkumar04@gmail.com
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Run Formatting checks
        run: npm test
        shell: gh repo clone Viralmaniar/Phirautee
        id: https://github.com/Viralmaniar/Phirautee.git
        
        
